body {
    margin: 0;
}

.banner {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    top: 0;
}

h1 {
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}


.topic-wrapper {
    text-align: center;
    background: white;
    background-size: 30px 100%, 100% 100%;
    width: 60vw;
    height: 10vh;
    /* line-height: 10vh; */
    padding: 5vh 40px;
    color: black;
    margin: 20px auto;
    position: relative;
    font-size: 42px;
    font-weight: 700;
    margin-top: 25vh;
    margin-bottom: 0;

}

.content-wrapper {
    text-align: center;
    background: white;
    background-size: 30px 100%, 100% 100%;
    padding-top: 4vh;
    width: 100%;
    position: relative;

}

.topic {
    font-size: 30px;
    font-weight: 700;
    z-index: 100;
    text-align: center;
    margin-top: 40vh;

}

p {
    font-family: 'Lora', serif;
    ;
    font-weight: 400;
    font-size: 16px;
}

.filter {
    font-size: 12px;
    margin-left: 10vw;
    margin-bottom: 0;
    color: darkgray;
}

.intro {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    color: darkgray;
    margin-left: 10vw;
    margin-right: 10vw;
    text-transform: uppercase;
}


.btn-group {
    margin-top: 0.5em;
    margin-left: 10vw;
}

.btn {
    background-color: transparent;
    border: 1px solid darkgray;
    color: black;
    padding: 8px 15px;
    cursor: pointer;

    font-size: 11px;
    font-family: 'Lora', serif;
}

.btn-group .btn {
    float: left;
}



.active,
.btn:hover {
    background-color: #666;
    color: white;
}

.btn-group .btn:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

#bubble {
    margin-bottom: 4em;
    margin-left: 10vw;
    margin-right: 10vw;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}




#bubble text {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 10px;
}


@media (min-width: 1024px) {
    .topic-wrapper {
        font-size: 54px;
    }

    .intro {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    #bubble {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .btn-group {
        padding-left: 8vw;
    }
}

@media (min-width: 2560px) {

    .intro {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    #bubble {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .btn-group {
        padding-left: 10vw;
    }
}


.custom-select {
    position: relative;
    font-family: "Lora", serif;
    font-size: 11px;
    float: right;
    /* padding-right: 15vw; */
    margin-right: 10vw;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color:#666666;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent darkgray darkgray darkgray;
    cursor: pointer;
    user-select: none;
}

.select-selected {
    color: #fff;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}